modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Type Talk"

[[workflows.workflow]]
name = "Type Talk"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18115 pnpm --filter @workspace/mobile run dev"
waitForPort = 18115

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_gemini_ai_integrations:2.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 3003

[[ports]]
localPort = 8085
externalPort = 4200

[[ports]]
localPort = 8086
externalPort = 5000

[[ports]]
localPort = 8087
externalPort = 5173

[[ports]]
localPort = 8088
externalPort = 6000

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 6800

[objectStorage]
defaultBucketID = "replit-objstore-855e756f-551b-441b-820d-b4c4e25aed19"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyCUao4WGf6BVKIKrU-D5ImT_GCb0R19mkw"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "type-talk-18.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "type-talk-18"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "type-talk-18.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "404119236252"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:404119236252:web:56ceccd5857f72cf760759"
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID = "G-76HTV5325T"
EXPO_PUBLIC_FIREBASE_RTDB_URL = "https://type-talk-18-default-rtdb.firebaseio.com"

[nix]
channel = "stable-25_05"
